<!DOCTYPE html>
<html>
    <head>
        <style>
                img{float: left;}
                img{margin-right: 15px;}
                img{filter: drop-shadow(3px 3px 3px #c3c3c3);}
                .p2{clear: both;}
            </style>
    </head>

    <div class="about">
        <article class="work">
            <h2>Work Experience</h2>
            <div>
                <div style="margin-top: 20px">
                    <img src="assets/img/samsung.webp" alt="image" width="100">
                    <p style="line-height: 1.5;">
                        <h5><b><a href="https://research.samsung.com/">Samsung Research</a></b></h5>
                        <b>Engineer</b>, <i>Aug. 2021 - Now</i>
                    </p>
                    <p>
                        <ul style="padding-left: 50px">
                            <li>Created service demos for Samsung products based on hyper-scale Transformers</li>
                            <li>Wrote research proposals to overcome the reasoning limitations of hyper-scale Transformer models</li>
                        </ul>
                    </p>
                </div>
                <div style="margin-top: 30px">
                    <img src="assets/img/naver.png" alt="image" width="100" height="55" style="border-radius:7px">
                    <p style="line-height:1.5">
                        <h5><b><a href="https://www.navercorp.com/en">Naver Corp.</a></b></h5>
                        <b>Intern</b>, <i>Nov. 2018 - Feb. 2019 / Jul. 2018 - Aug. 2018</i>
                    </p>
                    <p>
                        <ul style="padding-left: 50px">
                            <li>Discovered and created service demos requiring AI by collaborating with other departments</li>
                            <li>Conducted research engineering for creating service demos, such as building docker environment or APIs, and developing website with Spring Framework</li>
                        </ul>
                    </p>

                </div>
                <div style="margin-top: 30px">
                    <img src="assets/img/dramaqa.png" alt="image" width="70" height="55" style="border-radius:7px">
                    <h5><b><a href="https://dramaqa.snu.ac.kr/">DramaQA Challenges and Workshops</a></b></h5>
                    <p><b>ECCV 2020, ICCV 2019</b></p>
                    <p>
                    <ul style="padding-left: 50px">
                        <li>Participated in organizing DramaQA dataset challenges and workshops</li>
                    </ul>
                    </p>
                </div>
            </div>
        </article>

    </div>
</html>
